* {
  box-sizing: border-box;
  margin: 0;
  /* border: 2px solid yellow; */
  color: #fff;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 5rem;
  padding: 4%;
}

h3 {
  font-size: 3.8rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 4.5rem;
  text-align: center;
  margin: 3%;
}

h6 {
  font-size: 3rem;
  text-align: center;
  border: 0.3rem solid grey;
  border-radius: 5%;
  margin: 2% 2% 5% 2%;
}

/* General Summary Formatting */
.title-data {
  padding-left: 10%;
}

.hydration-summary, .sleep-summary, .activity-summary {
  height: 20rem;
  margin: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hydration-summary>img, .sleep-summary>img, .activity-summary>img {
  padding: 2%;
  margin: 8%;
  border-radius: 10%;
  width: 25%
}

/* Hydration */
.hydration-data, .detailed-hydration, .detailed-hydration>span {
  color: #56B4E9;
}

.hydration-summary>img {
  background-color: #56B4E9;
}

/* Sleep */
.sleep-data, .detailed-sleep, .detailed-sleep>span {
  color: #CC79A7;
}

.sleep-summary>img, .sleep-detailed-view>img {
  background-color: #CC79A7;
}

/* Activity Summary */
.detailed-activity, .detailed-activity>span {
  color: #E69F00;
}

.step-goal-comparison {
  font-size: 2.3rem;
  color: #E69F00;
}

.activity-summary>img {
  background-color: #E69F00;
}

/* Calendar */
.calendar {
  background-color: #2f2f2f;
}

.detailed-calendar-style {
  background-color: #2f2f2f;
  font-size: 4rem;
  margin-left: 24%;
  padding: 2%;
  border: none;
}

/* Detailed Styling */
.detailed-hydration, .detailed-sleep, .detailed-activity  {
  display: flex;
  flex-direction: column;
  margin: 5% 5%;
}

.sleep-data {
  margin-left: 9%;
}

.hidden {
  display: none !important;
}